@font-face {
  font-family: 'Fantasque Sans Mono';
  src: url('FantasqueSansMono-BoldItalic.woff2') format('woff2'),
    url('FantasqueSansMono-BoldItalic.woff') format('woff'),
    /* Firefox >= 3.6, any other modern browser */
    url('FantasqueSansMono-BoldItalic.ttf') format('truetype');
  /* Safari, Android, iOS */
  font-weight: 700;
  font-style: italic;
}